<%- include("./headerAdmin.ejs") %>
<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<!-- OVERVIEW -->
					<div class="panel panel-headline">
						
						
					<!-- END OVERVIEW -->
					<div class="row">
						<div class="col-md-12">
							<!-- RECENT PURCHASES -->
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Withdrawl Requests</h3>
									
									<div class="row">
										<div class="col-md-4">
										
										  </div>
										<div class="col-md-4"></div>
										<div class="col-md-4">
											<input type="text" id="myInput" class="form-control" placeholder="Search ...">
										</div>
									</div>
								</div>
								<script>
									
									window.onload = function(){
										
									  $("#myInput").on("keyup", function() {
										var value = $(this).val().toLowerCase();
										$("#myTable tr").filter(function() {
										  $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
										});
									  });
									};
									</script>
								<div class="panel-body no-padding">
									
									<br>
									<div class="container">
										
									</div>
									
									<table class="table table-striped " style="margin-top:2%" id="myTable">
										<thead>
											<tr>
												<th>Sr. No.</th>
												<th>User ID</th>
												<th>Email</th>
												<th>Amount</th>
                                                <th>Status</th><!-- status can be  InComplete, Complete, Paid -->
                                                
												<th>Action</th>
												

											</tr>
										</thead>
										<tbody>
											
                                            <% count = 0; stat='red'%> 
											<% requests.forEach(request => {
											count += 1;	 %>
                                        <tr>
                                            <td><%=count %></td>
                                            <td><%= request.userid %></td>
											
											<td><%= request.email %></td>
											<td><%= request.amount %></td>
											<% if (request.status=='PENDING') { stat='blue'} %>
											<% if (request.status=='APPROVED') { stat='green'} %>
											<% if (request.status=='FAILED') { stat='red'} %>
                                           
                                            <td style="color:<%= stat%>"><%= request.status %></td>
                                            <!-- Group ID to Be Added !-->
                                            <td  colspan="2">
												<% if (request.status=='APPROVED') {  %>
                                           
											<button type="button" class="btn btn-success ">Approved</button>
											
											<% } %>
											<% if (request.status=='FAILED') {  %>
												
												<button type="button" class="btn btn-danger ">Rejected</button>
												<% } %>
												<% if (request.status=='PENDING') {  %>
													<a href="/admin/approve/request/<%= request._id %> ">
													<button type="button" class="btn btn-primary ">Approve</button></a>
													<a href="/admin/reject/request/<%= request._id %> ">
														<button type="button" class="btn btn-warning ">Reject</button></a>
												
														<% } %>
												</td>
										
										</tr>
										<% }) %>
                                        
											
										</tbody>
									</table>
								</div>
								<div class="panel-footer">
									Total <%= count %> Requests..
								</div>
							</div>
							<!-- END RECENT PURCHASES -->
						</div>
						
						</div> 
					</div>
					
				
				</div>
			</div>
			 <!-- END MAIN CONTENT -->
			
		</div>
		<%- include("./footerAdmin.ejs") %>